<ion-modal-view>


<ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Ajouter une activité</h1>
  <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
</ion-header-bar>


<ion-content class="no-background">

  <div class="padding">
    <div class="list">

      <label class="item item-input">
        <span class="input-label label-small"><i class="icon ion-ios-person-outline"></i></span>
        <input type="text" placeholder="Titre" ng-model="activite.titre" required>
      </label>


      <label class="item item-input item-stacked-label">
        <span class="input-label"><i class="icon ion-ios-paper-outline"></i></span>
        <textarea rows="3" placeholder="Note" ng-model="activite.note"></textarea>
      </label>


      <button class="button button-full button-positive" ng-click="addActivite(activite)">Ajouter  <i class="icon ion-checkmark"></i> </button>
    </div>
  </div>

  
</ion-content>

</ion-modal-view>