<ion-modal-view> 

 <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">CGU</h1>
        <button class="button button-clear button-primary" ng-click="modal2.hide()">Annuler</button>
       </ion-header-bar>
<ion-content has-subheader="false" class="padding">


<h3>ART 1: Propriété intellectuelle</h3>

<p style="padding:true">La structure générale du site MIND , ainsi que les textes, graphiques, images, sons et vidéos la composant, sont la propriété de Romain GRANGER et de Claudine GRANGER. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site MIND , par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de Romain GRANGER et/ou de Claudine GRANGER est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.

Les marques "MIND ", "Mind" sont des marques déposées par Romain GRANGER.Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces marques, de quelque nature que ce soit, est totalement prohibée.

</p>


<h3>ART 2:  Données à caractère personnel</h3>

<p style="padding:true">

L'Utilisateur peut demander la résiliation des CGU et la destruction de son Compte Utilisateur ainsi que la suppression de ses données à caractère personnel détenues par Mind, à tout moment, et sans devoir justifier d'un quelconque motif, en en faisant la demande à Mind à l'adresse romain.granger@efrei.net<br>

Les Utilisateurs sont responsables de l'utilisation du Service, de leurs actes et doivent respecter les règles des présentes Conditions Générales d'Utilisation en agissant de manière compatible avec le Service et les législations et réglementations en vigueur. Mind est autorisée à utiliser toutes les mesures nécessaires pour prévenir ou détecter n'importe quel usage illicite ou frauduleux de son Service. <br>

En cas de non respect par l'Utilisateur des présentes CGU, Mind pourra décider de suspendre ou de résilier l'accès de l'Utilisateur au Service, sans devoir donner préavis, ni formalités, ni indemnités au profit de l'Utilisateur.

<br>
Mind se réserve également le droit de prendre toutes les mesures nécessaires, y compris la résiliation d'un Compte Utilisateur dans le cas d'une décision judiciaire l'y contraignant, d'événements de force majeure, ou encore en cas de suspicion de fraude. Dans ce dernier cas, c'est à l'Utilisateur qu'il incombera de fournir les preuves attestant de sa bonne foi et de l'absence de fraude. La fraude ou le non respect de ces CGU pourront donner lieu à des poursuites judiciaires. Dans tous les cas, Mind n'aura pas à verser d'indemnités ni à solder le Compte Utilisateur concerné.

</p>





<h3>ART 3: Modification des CGU</h3>

<p>Romain GRANGER, l'éditeur,  se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et de d'application et/ou de son exploitation.
	<br>

°Règles d'usage d'Internet

L’utilisateur déclare accepter les caractéristiques et les limites d’Internet, et notamment reconnaît que :

L’EDITEUR n’assume aucune responsabilité sur les services accessibles par Internet et n’exerce aucun contrôle de quelque forme que ce soit sur la nature et les caractéristiques des données qui pourraient transiter par l’intermédiaire de son centre serveur.

L’utilisateur reconnaît que les données circulant sur Internet ne sont pas protégées notamment contre les détournements éventuels. Le service de sécurité Firebase utilisé institue une présomption simple de validité. La communication de toute information jugée par l’utilisateur de nature sensible ou confidentielle se fait à ses risques et périls.

L’utilisateur reconnaît que les données circulant sur Internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété.

L’utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur Internet.

L’utilisateur reconnaît que l’EDITEUR ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles sur Internet</p>



<h3>ART 4: Droit applicable</h3>

<p>

Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.

Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse suivante: 
romain.granger@efrei.net

</p>


<h3>ART 5 : Interruption ou modification de l'application</h3>

<p>MIND se reserve le droit, à tout moment et sans avoir à fournir de motif, de modifier ou d'interrompre son service sans que sa responsabilité ne soit engagée.</p>

<h3>ART 6 : Responsabilité de l’éditeur</h3>

<p>

Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.

Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.

L’EDITEUR se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.

Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.

Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.

</p>


<h3>ART 7 : Accès au site</h3>

<p>

L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de l’EDITEUR, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.

Par conséquent, l’EDITEUR ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.

La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.

Par ailleurs, l’EDITEUR peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que l’EDITEUR ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.



</p>


<h3>ART 8 : Responsabilité de l’éditeur</h3>

<p>

Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.

Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.

L’EDITEUR se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.

Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.

Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.

</p>

<h3>ART 9 : Mentions légales </h3>

<p>

Les éditeurs de l’application Mind sont Romain GRANGER et Claudine GRANGER résidant à l’adresse suivante :

10 rue du Marechal Joffre
92330 Sceaux
Email : romain.granger@efrei.net



</p>

<h3>ART 10 : Informations supplémentaires </h3>

<p>

Pour toute question relative aux présentes Conditions Générales d'Utilisation, ou au Service Mind de manière générale, l'Utilisateur est invité à prendre contact avec Mind à l'adresse électronique suivante : romain.granger@efrei.net ou par courrier.


</p>








</ion-content>
</ion-modal-view>