<ion-modal-view>

<ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Modifier le contact</h1>
  <button class="button button-clear button-primary" ng-click="modal2.hide()">Annuler</button>
</ion-header-bar>
    
       
    <ion-content class="padding">
                


                   

                    <ion-list>
                       



                        <label class="item item-input">
                        <span class="input-label"></span>
                            <input type="text" placeholder="Nom" ng-model="contact.nom" value="{{contact.nom}}" init-from-form>
                        </label>
                        


                        <label class="item item-input">
                        <span class="input-label"></span>
                            <input type="text" placeholder="Prénom" ng-model="contact.prenom" value="{{contact.prenom}}" init-from-form>
                        </label>
                        

                        <label class="item item-input">
                        <span class="input-label"></span>
                            <input type="text" placeholder="Adresse" ng-model="contact.adresse" value="{{contact.adresse}}" init-from-form>
                        </label>
                        
                        
                        <label class="item item-input">
                        <span class="input-label"></span>
                            <input type="text" placeholder="Ville" ng-model="contact.cp" value="{{contact.cp}}" init-from-form>
                        </label>

                          <label class="item item-input">
                        <span class="input-label"></span>
                            <input type="email" placeholder="Mail" ng-model="contact.mail" value="{{contact.mail}}" init-from-form>
                        </label>


                        <label class="item item-input">
                        <span class="input-label"></span>
                            <input type="tel" placeholder="telephone" ng-model="contact.telephone" value="{{contact.telephone}}" init-from-form>
                        </label>
                        
                      

                        <button class="button icon ion-edit button-positive button-block" ng-click="save()">
                            Modifier
                        </button>
                    

                    </ion-list>
               

        
       

        </ion-content>
        
</ion-modal-view>
    
