<ion-view view-title="Mon Profil">


  <ion-content>


  <div class="list">

    <div class="item item-divider">
     Infos
  </div>

  <a class="item">
   <p>Adresse mail: </p> {{mail}}
  </a>

  <button class="button button-block button-positive" ng-click="changePassword()">
    Changer de mot de passe
  </button>



  <div class="item item-divider">
    Aide et FAQ
  </div>


  <a class="item item-icon-left" href="mailto:romaingmb@gmail.com">
    <i class="icon ion-email"></i>
    Avoir de l'aide 
  </a>

  <a class="item item-icon-left" href="mailto:romaingmb@gmail.com">
    <i class="icon ion-star"></i>
    Noter l'application
    <span class="badge badge-assertive">5*</span>
  </a>

  




</div>


  </ion-content>
</ion-view>